.price-title-modif {
    font-size: 1.5em !important;
}

/* .product-detail :hover {
    -webkit-animation: none !important;
} */

.dashboard-right {
    border-radius: 25px !important;
}

.dashboard-left {
    border-radius: 25px !important;
}